:root {
  --darkGrey: #393f4b;
  --ddarkGrey: #21242c;
  --grey: #434a58;
  --lightGrey: #cfd6e2ee;
  --llightGrey: #9599a1;
  --orange: #f46e0f;
  --ooorange: #ce5f0f;
  --oorange: #b3520d;

  --headerHeight: 10vh;
}
/* Overwrite container that encapsulates the entire website */
.container-margin {
  background-color:var(--grey);
}

/* This bar is hacked togheter not quite nicely */
.vertical-bar-left {
  width: 3vh;
  height: 150%;
  position: absolute;
  left: 0px;
  top: -25vh;
  /* var(--headerHeight); */
  margin: auto;
  background: linear-gradient(to left, var(--orange), var(--oorange));
  background-color: var(--orange);
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 1);
}
.vertical-bar-right {
  width: 25vh;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: auto;
  background: linear-gradient(to right, var(--orange), var(--ooorange));
  background-color: var(--orange);
  /* border: 1px solid black; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-header {
  color: var(--orange);
}

.vertical-spacer {
  height: 2vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
* padding order is trbl
*/
.App-header {
  background: linear-gradient(to top, var(--darkGrey), var(--ddarkGrey));
  background-color: var(--darkGrey);
  min-height: var(--headerHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding-top: 2vh;
  color: var(--orange);
}

.App-footer {
  font-size: calc(1px + 1vmin);
  font-family: "Arial";
  color: var(--orange);
  text-shadow: 1px 0 3px #444444;
  background: linear-gradient(to bottom, var(--darkGrey), var(--ddarkGrey));
  background-color: var(--darkGrey);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#header-title {
  font-size: calc(10px + 2vmin);
  text-shadow: 1px 0 5px #000000;
}

#header-title-subtitle {
  color: #c9cdd6;
  text-shadow: 2px 0 5px #000000;
}
.App-navbar {
  background-color: var(--darkGrey);
  min-height: 5vh;
  display: flex;
}
.App-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}
.nav-item {
  align-items: stretch;
  display: flex;
  height: 100%;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: 0.35rem;
}

.nav-item-active {
  background-color: var(--lightGrey);
  color: var(--orange);
  align-items: stretch;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: 0.35rem;
  border-radius: 12px 12px 12px 12px;  
}

.nav-item:hover {
  color: var(--orange);
  text-decoration: none;
  background-color: var(--lightGrey);
  align-items: stretch;
  display: flex;
  padding: 0.35rem;
  border-radius: 12px 12px 12px 12px;
}

.App-link {
  color: #61dafb;
}

.main-content-area { 
  
  height: 78vh;
  /* box-shadow: -5px 10px 10px 10px rgba(0,0,0,.3), 5px 10px 10px 10px rgba(0,0,0,.3); */
}

.main-content-buble {
  text-align: left;
  background: linear-gradient(to bottom, var(--lightGrey), var(--llightGrey));
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1vh;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 20px 20px 20px 20px;
  margin: 2vh;
  padding: 1vh;
}

body {
  background-image: url("./assets/background.jpg");
  background-color: var(--grey);
}

.image-large {
  height: auto;
  max-width: 40vh
}
.image-small {
  background-color: var(--lightGrey);
  margin-top: 3vh;
  height: auto;
  max-width: 8vh
}
.image-rounded {
  max-width: 20vh;
  height: auto;
  border-radius: 50%;
  border: 3px solid black;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
