.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h3 {
  color: #F46E0F
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
* color info:
* orange : #F46E0F
* dark : #212121
* lighter: #434a58
*/
.App-header {
  background-color: #393f4b;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #f58814;
}
.App-footer {
  background-color: #393f4b;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 1vmin);
  font-family: 'Arial';
  color: #f58814;
  /* position: fixed; */
  /* bottom: 0px; */
}
#header-title {
  font-size: calc(10px + 2vmin);
  margin-top: -3vh;
  margin-bottom: -3vh;
}

#header-title-subtitle {
  color: #c9cdd6;
  margin-top: -3vh;
}

#navbarBackground {
  background-color: #393f4b;
  width: 100%;
}

.App-nav {
  background-color: #393f4b;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  float: left;
  gap: 1rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.nav-item {
  align-items: stretch;
  display: flex;
  height: 100%;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: .25rem;
}

.nav-item-active {
  background-color: #c9cdd6;
  color: #f58814;
  align-items: stretch;
  display: flex;
  height: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: .25rem;
}

.nav-item:hover {
  background-color: #c9cdd6;
}

.App-link {
  color: #61dafb;
}

.Main-content {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c9cdd6;
  min-height: 73vh;
}
body {
  background-color: #434a58;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
